.delete_user {
    .main {
        padding: 20px;
    }
    .footer {
        display: flex;
        justify-content: end;
        align-items: center;
        border-top: solid 1px #e4e4e4;
        button {
            width: 50%;
            border: none !important;
            border-radius: 0 !important;
            padding: 15px 0 !important;
        }
    }
}