<div class="delete_user">
  <div class="main">
    <h2>Bạn có chắc muốn xác nhận đơn đăng ký kiots này không?</h2>
  </div>
  <div class="footer">
    <button class="bt bt_defau" (click)="closeForm()">Hủy</button>
    <button class="bt bt_primary" (click)="updateConfirmed()">Ok</button>
  </div>
</div>