<section id="auth">
  <div class="login_all">
    <div class="login_title">
      <h1>Bạn quên mật khẩu?</h1>
      <span>Chúng tôi sẽ gửi bạn hướng dẫn về cách thiết lập lại mật khẩu.</span>
    </div>
    <div class="login_body">
      <form action="#" method="POST">
        <div class="form_all">
          <div class="form_input">
            <span><i class="fas fa-envelope"></i></span>
            <input value='' type='email' placeholder='Email'>
          </div>
          <div class="form_input_submit">
            <button class="bt_primary" name='submit' type="submit">Gửi email</button>
          </div>
          <div class="form_input_footer">
            <div class="form_input_footer_cb">
              <a routerLink="/login">Hủy</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="login_footer">
      <img src="../../../assets/images/logo.png" alt="logo">
    </div>
  </div>
</section>