#register {
    background: #f1f1f1;
    height: auto;
    padding-bottom: 70px;

    .login_all {
        text-align: center;

        .login_title {
            padding-top: 90px;
            margin-bottom: 20px;

            h1 {
                color: #31373d;
                font-size: 30px;
                line-height: 1;
                margin: 0;
                font-weight: 400;
            }

            span {
                margin-top: 20px;
                color: #95a7b7;
                font-size: 18px;
                font-weight: 300;
                line-height: 24px;
                display: inline-block;
            }
        }

        .login_body {
            .form_all {
                max-width: 360px;
                margin: 0 auto;
                color: #95a7b7;
                padding: 0 10px;

                .form_error {
                    background: #fff1f1;
                    color: #950000;
                    border-bottom: 1px solid #ffe4e4;
                    padding: 15px 20px;
                    font-size: 16px;
                    border-radius: 8px 8px 0 0 !important;
                }

                .form_input {
                    position: relative;
                    border: 1px solid #e5e5e5;
                    border-bottom: none;

                    &:nth-child(1) {
                        border-radius: 8px 8px 0 0;

                        input {
                            border-radius: 8px 8px 0 0;
                        }
                    }

                    &:nth-child(3) {
                        border-radius: 0 0 8px 8px;
                    }

                    input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        font-weight: 300;
                        font-size: 18px;
                        color: #95a7b7;
                        padding: 24px 24px 24px 70px;
                        color: #31373d;
                        font-size: 18px;
                        outline: none;
                        height: auto;
                        background-color: #fff;

                        &::placeholder {
                            color: #95a7b7ed;
                        }
                    }

                    span {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: 30px;

                        i {
                            font-size: 20px;
                            color: #95a7b7;
                        }
                    }
                }

                .form_input_submit {
                    button {
                        padding: 24px;
                        color: #fff;
                        font-size: 18px;
                        border: none;
                        border: 1px solid #e5e5e5;
                        border-bottom: none;
                        outline: none;
                        height: auto;
                        background-color: #fff;
                        position: relative;
                        width: 100%;
                        border-radius: 0 0 8px 8px;
                    }
                }

                .form_input_footer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;

                    span {
                        margin: 0 10px;
                    }
                }
            }
        }

        .login_footer {
            margin: 80px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 45px;
            }

            span {
                font-size: 25px;
                font-weight: bold;
                color: #31373d;
                margin-left: 9px;
                margin-top: 7px;
            }
        }
    }
}

.invalid-feedback {
    padding: 8px 25px;
    text-align: left;
    color: #d82c2c
}

button.bt_primary {
    padding: 0 !important;
    height: 70px !important;
}

img.loading {
    width: 50px;
}