<section id="register">
  <div class="login_all">
    <div class="login_title">
      <h1>Tạo tài khoản</h1>
      <span>Điền đầy đủ thông tin để tạo tài khoản</span>
    </div>
    <div class="login_body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form_all">
          <!-- *ngIf="errorlogin" -->

          <div class="form_input">
            <span><i class="fas fa-user"></i></span>
            <input formControlName="firstName" type='text' placeholder='Họ' class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          </div>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required"> *Họ là bắt buộc</div>
          </div>
          <div class="form_input">
            <span><i class="fas fa-user"></i></span>
            <input formControlName="lastName" type='text' placeholder='Tên' class="form-control" />
          </div>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required"> *Tên là bắt buộc</div>
          </div>
          <div class="form_input">
            <span><i class="fas fa-envelope"></i></span>
            <input formControlName="email" type='text' placeholder='Email đăng nhập' class="form-control" />
          </div>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required"> *Email là bắt buộc</div>
            <div *ngIf="f.email.errors.email"> *Email phải là một địa chỉ email hợp lệ</div>
          </div>
          <div class="form_input">
            <span><i class="fas fa-lock"></i></span>
            <input formControlName="passWord" type='password' placeholder='Mật khẩu'>
          </div>
          <div *ngIf="submitted && f.passWord.errors" class="invalid-feedback">
            <div *ngIf="f.passWord.errors.required"> *Password là bắt buộc</div>
            <div *ngIf="f.passWord.errors.minlength"> *Password ít nhất phải có 6 kí tự</div>
          </div>
          <div class="form_input">
            <span><i class="fas fa-lock"></i></span>
            <input formControlName="confirmPassword" type='password' placeholder='Nhập lại mật khẩu'
              class="form-control" />
          </div>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required"> *Xác nhận mật khẩu là bắt buộc</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch"> *Passwords nhập lại chưa phù hợp</div>
          </div>
          <div class="form_input_submit">
            <button class="bt_primary" name='submit' type="submit">
              <ng-container *ngIf="loading"><img class="loading" src="../../../assets/images/loading.gif" alt="loading">
              </ng-container>
              <ng-container *ngIf="!loading">Đăng ký</ng-container>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="login_footer">
      <img src="../../../assets/images/btplus_logo.jpg" alt="logo">
      <span>BT plus Admin</span>
    </div>
  </div>

</section>
<!-- <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)" class="email">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">

  <button (click)="login()"  type="button">
    Đăng nhập
  </button>
</div> -->

<!-- <button (click)="logout()" *ngIf="authService.user | async" type="button">
  Đăng xuất
</button> -->