<section id="login">
  <div class="login_all">
    <div class="login_title">
      <h1>Tài khoản để đăng nhập</h1>
      <span>tk: 123@gmail.com / pass: 123456</span>
    </div>
    <!-- *ngIf="!(authService.user | async)" -->
    <div class="login_body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form_all">
          <div class="form_input form_error" *ngIf="errorlogin">
            Mật khẩu sai hoặc tên đăng nhập không tồn tại trong hệ thống
          </div>
          <div class="form_input">
            <span><i class="fas fa-envelope"></i></span>
            <input formControlName="email" type='email' placeholder='Email đăng nhập' name="myNameIsTrinity">
          </div>
          <div class="form_input">
            <span><i class="fas fa-lock"></i></span>
            <input formControlName="password" type='password' placeholder='Mật khẩu' name="myNameIsTrinity1">
          </div>
          <div class="form_input_submit">
            <button class="bt_primary" name='submit' type="submit">
              <ng-container *ngIf="loading"><img class="loading" src="../../../assets/images/loading.gif" alt="loading">
              </ng-container>
              <ng-container *ngIf="!loading">Đăng nhập</ng-container>
            </button>
          </div>

          <div class="form_input_footer">
            <div class="form_input_footer_cb">
              <label for="save_pass">
                <input name="save_pass" id="save_pass" type='checkbox' class="ip_checkbox">
                Duy trì đăng nhập
              </label>
            </div>
            <span>|</span>
            <div class="form_input_footer_cb">
              <a routerLink="/auth">Bạn quên mật khẩu?</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="login_footer">
      <span>Suplo-Admin</span>
    </div>
  </div>
</section>

<!-- <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1> -->

<!-- 
<button (click)="logout()" *ngIf="authService.user | async" type="button">
  Đăng xuất
</button> -->