<section id='user_list'>
  <form class="form1" action="#" method="POST">
    <div class="header">
      <div class="cusety_header_right">
        <span>
          <i class="fas fa-users"></i>
        </span>
        <span class="sp_link">
          Quản lý người dùng
        </span>
        <!-- <a class="a2_link"
          href="https://huongdan.haravan.com/blogs/tai-lieu-huong-dan/quan-ly-khach-hang?utm_source=myharavan.com&utm_medium=referral&utm_campaign=khach_hang&_ga=2.198729578.437468385.1551057919-1610280924.1550655587">
          <i class="fas fa-question-circle"></i>
        </a> -->
      </div>
    </div>
    <div class="body user_body">
      <div class="wrapper">
        <div class="user_table">
          <div class="mat-elevation-z8">
            <!--  các tag lọc bảng -->
            <div class="search_table">
              <div class="search_table_right">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm ...">
              </div>
            </div>
            <!-- <div class="search_tag" *ngIf="data2=='list-all'">
              <div class="search_tag_cont">
                <span>Có nhận email quảng cáo</span><button type="button"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="search_tag" *ngIf="data3=='list-all'">
              <div class="search_tag_cont">
                <span>Số đơn hàng lớn hơn 1</span><button type="button"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="search_tag" *ngIf="data4=='list-all'">
              <div class="search_tag_cont">
                <span>Đơn hàng chưa hoàn tất trong tháng vừa qua</span><button type="button"><i
                    class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="search_tag" *ngIf="data5=='list-all'">
              <div class="search_tag_cont">
                <span>Khách hàng ở Vietnam</span><button type="button"><i class="fas fa-times"></i></button>
              </div>
            </div>
 -->


            <table id="table_all" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox class="mat_ckbox" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                  <div [ngClass]="selection.hasValue() ? 'show_menu_lation' : 'hide_menu_lation'"
                    class="check_box_select">
                    <button class="show_check_lation" type="button" mat-button [matMenuTriggerFor]="menu">Chọn hành
                      động({{selection.selected.length}} khách hàng)</button>
                    <mat-menu #menu="matMenu">
                      <div class="check_lation">
                        <button mat-menu-item>Gửi thư mời các khách hàng được chọn</button>
                        <button mat-menu-item>Xóa các khách hàng được chọn</button>
                        <button mat-menu-item>Thêm nhãn</button>
                        <button mat-menu-item>Bỏ nhãn</button>
                      </div>
                    </mat-menu>
                    <p *ngIf="selection.hasValue() && isAllSelected()">Tất cả khách hàng trong trang đã được chọn.
                    </p>
                  </div>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox class="mat_ckbox" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header>Họ và Tên</th>
                <td mat-cell *matCellDef="let element">{{element.name }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="phone">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Số điện thoại </th>
                <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="company">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Tên Công ty </th>
                <td mat-cell *matCellDef="let element"> {{element.company}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="node">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Nội dung </th>
                <td mat-cell *matCellDef="let element"> {{element.node}} </td>
              </ng-container>


              <ng-container matColumnDef="value_money">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Ngân sách </th>
                <td mat-cell *matCellDef="let element"> {{element.value_money}} </td>
              </ng-container>

              <ng-container matColumnDef="value_project">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Yêu cầu bắt buộc                </th>
                <td mat-cell *matCellDef="let element" > 
                 <!-- <span>{{element.value_project.value_project}}</span> -->
                 <span *ngIf="element.value_project.value_project1 != ''">{{element.value_project.value_project1}}</span><br>
                 <span *ngIf="element.value_project.value_project2 != ''">{{element.value_project.value_project2}}</span><br>
                 <span *ngIf="element.value_project.value_project3 != ''">{{element.value_project.value_project3}}</span><br>
                 <span *ngIf="element.value_project.value_project4 != ''">{{element.value_project.value_project4}}</span>
                </td>
              </ng-container>
              <!-- Name Column -->
              <!-- <ng-container matColumnDef="address">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Địa chỉ </th>
                <td mat-cell *matCellDef="let element">
                  {{element.address}}
                </td>
              </ng-container> -->



              <!-- action -->
              <!-- <ng-container matColumnDef="action">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Update </th>
                <td mat-cell *matCellDef="let row">
                  <button (click)="openFormUpdateUser(row)"><i class="fas fa-edit"></i></button>
                  <button (click)="openPopupdeleteUser(row)"><i class="fas fa-trash-alt"></i></button>
                </td>
              </ng-container> -->


              <!-- <ng-container matColumnDef="link">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Link </th>
                <td mat-cell *matCellDef="let element">
                  <a routerLink="/user/{{element.email}}">{{ element.email }}</a>
                </td>
              </ng-container> -->

              <!-- loađing -->
              <ng-container matColumnDef="loading">
                <td mat-footer-cell *matFooterCellDef colspan="6">... loading</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'d_none': dataSource != null}"></tr>
            </table>
            <mat-paginator class="paginator_table" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>