@import '../styles.scss';

#sidenav[_ngcontent-c0] .mat-drawer[_ngcontent-c0] .nav_content[_ngcontent-c0] {
    padding: 10px 10px 0;
}

#sidenav {
    .mat-drawer-content {
        height: 100vh;
    }

    .mat-drawer {
        width: 255px;
        background-color: $navbar_bg;
        color: $navbar_cl;
        border-right: solid 1px #e4e4e4 !important;

        .nav_logo {
            height: 56px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding-left: 14px;
            border-bottom: 1px solid #212529;
            transition: background-color 200ms ease;
            background-color: #fff;

            span.logo {
                width: 70%;

                a {
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    img {
                        width: 45px;
                        margin-right: 5px
                    }

                    span {
                        font-size: 20px;
                        font-weight: bold;
                        white-space: nowrap;
                        color: #31373d;
                        margin-top: 8px;
                    }

                    .txt_admin {
                        margin-left: 10px;
                    }
                    
                }
            }

            span.see_web {
                a.tooltip {
                    display: inline-block;
                    font-size: 14px;
                    line-height: 1.42857143;
                    text-align: center;
                    vertical-align: middle;
                    user-select: none;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    padding: 7px 12px;
                    border-radius: 3px;
                    color: $navbar_cl;
                    @extend %trans;

                    &:hover {
                        color: $navbar_cl_hv;
                    }
                }
            }
        }

        .nav_search {
            margin: 12px 10px;

            .div_search {
                height: 32px;
                border-radius: 20px;
                background-color: #f5f6f7;
                border-color: transparent;
                transition: background-color 200ms ease, border-color 200ms ease;
                padding: 0 6px;

                i {
                    color: #798c9c;
                }

                input[type="search"] {
                    background-color: #f5f6f7;
                    border: none;
                    height: 32px;
                    padding-left: 10px;
                    color: #555;
                }
            }
        }

        .nav_content {
            padding: 15px 10px 0 !important;

            ul {
                li {
                    /deep/ mat-accordion {
                        /deep/ mat-expansion-panel {
                            background: transparent;

                            /deep/ mat-expansion-panel-header {
                                height: auto !important;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 0 0;
                                border-radius: inherit;
                            }
                        }
                    }

                    &:hover {
                        i {
                            color: $navbar_cl_hv;
                        }

                        a {
                            color: $navbar_cl_hv;
                        }
                    }

                    color: $navbar_cl;
                    position: relative;

                    >i {
                        position: absolute;
                        left: 0;
                        top: calc(50% - 9px);
                        color: #798c9c;
                    }

                    a {
                        color: $navbar_cl;
                        font-weight: 500;
                        padding: 0 10px 0 25px;
                        height: 36px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        line-height: 36px;
                        position: relative;
                        font-size: 14px;
                        @extend %trans;
                    }
                }
            }
        }

        .nav_admin {
            padding: 0 10px 10px;
            margin-top: 12px;
            padding-top: 12px;
            border-top: 1px solid #212529;
            position: relative;

            button {
                display: flex;
                justify-content: end;
                align-items: center;
                position: relative;
                background-color: transparent;
                border: 0;
                width: 100%;

                .nav_admin_txt {
                    padding-left: 10px;
                    text-align: left;

                    span {
                        display: block;
                        color: $navbar_cl;
                    }

                    span.sp1 {
                        font-size: 16px;
                        color: $navbar_cl_hv;
                        font-weight: bold;
                    }

                    span.sp2 {
                        font-size: 12px;
                    }
                }

                i {
                    position: absolute;
                    top: calc(50% - 8px);
                    color: $navbar_cl;
                    right: 0;
                }
            }

            .nav_admin_info {
                position: absolute;
                bottom: 103%;
                background-color: #fff;
                padding: 5px 0;
                border-radius: 3px;
                margin-bottom: 0;
                @extend %trans;

                ul {
                    li {
                        a {
                            display: block;
                            padding: 3px 20px;
                            white-space: nowrap;
                            padding: 3px 20px;
                            color: #333;
                        }
                    }

                    li.empty {
                        height: 1px;
                        margin: 9px 0;
                        overflow: hidden;
                        background-color: #e5e5e5;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 7px;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 10px solid #fff;
                }
            }
        }

        .nav_admin.hide_info {
            .nav_admin_info {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                margin-bottom: 10px;
            }
        }
    }
}