<section class="PageContainer" *ngIf="route != '/login' && route != '/auth' && route != '/register'">
  <section id="sidenav">
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>
        <div class="nav_all">
          <div class="nav_logo">
            <span class="logo"><a routerLink="">
                <img src="assets/images/favicon.png" alt="logo">
                <span>Suplo Admin</span>
              </a></span>
            <!-- <span class="see_web">
              <a class="tooltip" href="">
                <i class="fas fa-eye"></i>
                <span class="tooltip_hv">
                  Xem website
                </span>
              </a>
            </span> -->
          </div>
          <!-- <div class="nav_search">
            <div class="div_search">
              <i class="fas fa-search"></i> <input type='search' placeholder='Tìm kiếm ...'>
            </div>
          </div> -->
          <div class="nav_content">
            <ul>

              <li>
                <i class="fas fa-users"></i>
                <a routerLink="/users/list">Người dùng<i class="fas fa-angle-right"></i></a>
              </li>
              <li>
                <i class="fas fa-chart-line"></i>
                <a routerLink="/kiots/list">Kiots<i class="fas fa-angle-right"></i></a>
              </li>

            </ul>
          </div>
          <div class="nav_admin" [ngClass]="status ? 'show_info' : 'hide_info'">
            <button (click)="show_Admin_info()">
              <div class="nav_admin_img">
                <img src="assets/images/use.png" alt="admin">
              </div>
              <div class="nav_admin_txt">
                <span class="sp1">{{ (authService.nameUse | async)?.email }}</span>
                <span class="sp2">{{ (authService.nameUse | async)?.email }}</span>
              </div>
              <i class="fas fa-chevron-up"></i>
            </button>
            <div class="nav_admin_info">
              <ul>
                <li>
                  <a href="">
                    Website của bạn
                  </a>
                </li>
                <li>
                  <a href="">
                    Tài khoản của bạn
                  </a>
                </li>
                <li class="empty"></li>
                <li>
                  <a href="">
                    Hướng dẫn
                  </a>
                </li>
                <li>
                  <a href="">
                    Điều khoản dịch vụ
                  </a>
                </li>
                <li>
                  <a href="">
                    Chính sách bảo mật
                  </a>
                </li>
                <li class="empty"></li>
                <li>
                  <a (click)="logout()">
                    Thoát tài khoản
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </section>
</section>

<app-login *ngIf="route == '/login'"></app-login>
<app-auth *ngIf="route == '/auth'"></app-auth>
<app-register *ngIf="route == '/register'"></app-register>