@import '../../../../styles.scss';

#kiot_list {
    background-color: #f1f1f1;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: #fff;
        min-height: 55px;
        z-index: 10;
        box-shadow: 0 1px 0 rgba(0, 0, 0, .07);
        padding: 0 20px;

        .cusety_header_right {
            i {
                color: $emty_body_cl;
                margin-right: 10px;
            }

            .a_link {
                font-size: 20px;
                color: $emty_body_cl;

                &:hover {
                    text-decoration: underline;
                }
            }

            .sp_link {
                font-size: 20px;
            }

            .a2_link {
                i {
                    color: #f68a1f;
                    font-size: 20px;
                    margin-left: 5px;
                }
            }
        }

        .cusety_header_left {

            button,
            a {
                margin-left: 20px;
                @extend %trans1;
            }
        }
    }
}

.user_table {
    .search_tag {
        padding: 0 24px;

        .search_tag_cont {
            background-color: #e9f3ff;
            border: solid 1px #cbdbee;
            border-radius: 4px;
            color: #707070;
            display: flex;
            justify-content: end;
            align-items: center;
            width: max-content;

            span {
                padding: 3px 8px;
            }

            button {
                border: none;
                background-color: transparent;
                padding: 4px 8px;
                border-left: solid 1px #cbdbee;
            }
        }
    }

    table {
        width: 100%;
        box-shadow: none;

        >thead {
            >.mat-header-row {
                flex: 0 0 5%;
                width: 5%;
            }
        }

        th.mat-sort-header-sorted {
            color: black;
        }
    }

    .search_table {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 15px 24px;

        .search_table_left {
            button {
                border: 1px solid transparent;
                margin: 0 -1px 0 0;
                min-width: 100%;
                border-color: #c4cdd5;
                color: #333;
                background: #fff;
                display: inline-block;
                padding: 9px 20px 9px 12px;
                font-size: 14px;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 2px);
                    right: 5px;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                    border-top: 4px solid #000;
                }
            }
        }

        .search_table_right {
            min-width: 75px;
            height: auto;
            margin: 0;
            border-style: inset;
            color: #000;
            padding: 5px 10px;
            border: 1px solid #c4cdd5;
            font-weight: 400;
            line-height: 24px;
            text-transform: initial;
            letter-spacing: initial;
            box-sizing: border-box;
            display: block;
            width: 100%;
            border-radius: 0 4px 4px 0;

            .mat-form-field {
                .mat-form-field-wrapper {
                    padding: 0 !important;

                    .mat-form-field-infix {
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }
            }
        }
    }
}

.check_lation {
    padding: 5px 0;

    button {
        line-height: 30px;
        height: 30px;
        padding: 0 12px;
        @extend %trans;

        &:hover {
            background-color: $emty_buton_cl;
            color: #fff;
        }
    }
}

/deep/.mat_ckbox.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $ckbox_bd;
}

// /deep/
table {
    /deep/ thead {
        /deep/ tr {
            /deep/th {
                &:nth-child(1) {
                    flex: 0 0 5%;
                    width: 5%;
                    position: relative;
                }

                &:nth-child(2) {
                    flex: 0 0 20%;
                    width: 20%;
                    position: relative;
                }

                /deep/ .mat-sort-header-container {
                    color: $title_cl;

                    /deep/ button {
                        white-space: nowrap;
                    }
                }

                .check_box_select {
                    position: absolute;
                    top: calc(50% - 13px);
                    left: 0;
                    width: max-content;
                    margin-left: 47px;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    z-index: 100;

                    button.show_check_lation {
                        background-color: #fff;
                        border: none;
                        padding: 4px 13px;
                        border: solid 1px #ccc;
                        border-radius: 4px;
                    }

                    p {
                        color: $title_cl;
                        margin: 0 0 0 15px;
                    }
                }

                .check_box_select.hide_menu_lation {
                    display: none;
                }
            }
        }

        >tr {
            th {
                &:nth-child(4) {
                    .mat-sort-header-container {
                        justify-content: center;
                    }
                }

                &:nth-child(5) {
                    .mat-sort-header-container {
                        justify-content: center;
                    }
                }

                &:nth-child(6) {
                    .mat-sort-header-container {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    /deep/tbody {
        /deep/tr {
            &:hover {
                background: #eff9fd;
            }

            /deep/td {
                &:nth-child(4) {
                    text-align: center;
                }

                &:nth-child(5) {
                    text-align: center;
                    padding: 0 10px;
                }

                &:nth-child(6) {
                    text-align: center;
                }
            }
        }
    }
}