<section id='kiot_list'>
  <form class="form1" action="#" method="POST">
    <div class="header">
      <div class="cusety_header_right">
        <span>
          <i class="fas fa-users"></i>
        </span>
        <span class="sp_link">
          Quản lý kiots
        </span>
        <!-- <a class="a2_link"
            href="https://huongdan.haravan.com/blogs/tai-lieu-huong-dan/quan-ly-khach-hang?utm_source=myharavan.com&utm_medium=referral&utm_campaign=khach_hang&_ga=2.198729578.437468385.1551057919-1610280924.1550655587">
            <i class="fas fa-question-circle"></i>
          </a> -->
      </div>
    </div>
    <div class="body user_body">
      <div class="wrapper">
        <div class="user_table">
          <div class="mat-elevation-z8">
            <!--  các tag lọc bảng -->
            <div class="search_table">
              <div class="search_table_right">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm ...">
              </div>
            </div>
            <!-- <div class="search_tag" *ngIf="data2=='list-all'">
              <div class="search_tag_cont">
                <span>Có nhận email quảng cáo</span><button type="button"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="search_tag" *ngIf="data3=='list-all'">
              <div class="search_tag_cont">
                <span>Số đơn hàng lớn hơn 1</span><button type="button"><i class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="search_tag" *ngIf="data4=='list-all'">
              <div class="search_tag_cont">
                <span>Đơn hàng chưa hoàn tất trong tháng vừa qua</span><button type="button"><i
                    class="fas fa-times"></i></button>
              </div>
            </div>
            <div class="search_tag" *ngIf="data5=='list-all'">
              <div class="search_tag_cont">
                <span>Khách hàng ở Vietnam</span><button type="button"><i class="fas fa-times"></i></button>
              </div>
            </div> -->



            <table id="table_all" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox class="mat_ckbox" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                  <div [ngClass]="selection.hasValue() ? 'show_menu_lation' : 'hide_menu_lation'"
                    class="check_box_select">
                    <button class="show_check_lation" type="button" mat-button [matMenuTriggerFor]="menu">Chọn hành
                      động({{selection.selected.length}} khách hàng)</button>
                    <mat-menu #menu="matMenu">
                      <div class="check_lation">
                        <button mat-menu-item>Gửi thư mời các khách hàng được chọn</button>
                        <button mat-menu-item>Xóa các khách hàng được chọn</button>
                        <button mat-menu-item>Thêm nhãn</button>
                        <button mat-menu-item>Bỏ nhãn</button>
                      </div>
                    </mat-menu>
                    <p *ngIf="selection.hasValue() && isAllSelected()">Tất cả khách hàng trong trang đã được chọn.
                    </p>
                  </div>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox class="mat_ckbox" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header>Họ và Tên</th>
                <td mat-cell *matCellDef="let element">{{element.name }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="phone">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Số điện thoại </th>
                <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="birthday">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Ngày sinh </th>
                <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="address">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Địa chỉ </th>
                <td mat-cell *matCellDef="let element">
                  {{element.address}}
                </td>
              </ng-container>



              action
              <ng-container matColumnDef="kiot">
                <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                  mat-sort-header> Tình trạng </th>
                <td mat-cell *matCellDef="let row">
                  <!-- không có uid nên phải check row?.owner?.kiot -->
                  <button [ngClass]="row.Confirmed? 'bt_defau' : 'bt_primary'" class="bt "
                    (click)="openPopupdeleteUser(row)" [disabled]="row.Confirmed">
                    <ng-container *ngIf="row.Confirmed == false">Xác nhận</ng-container>
                    <ng-container *ngIf="row.Confirmed == true">Đã xác nhận</ng-container>
                  </button>
                </td>
              </ng-container>


              <!-- <ng-container matColumnDef="link">
                  <th [ngClass]="selection.hasValue() ? 'opacity_0' : 'show'" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Link </th>
                  <td mat-cell *matCellDef="let element">
                    <a routerLink="/user/{{element.email}}">{{ element.email }}</a>
                  </td>
                </ng-container> -->

              <!-- loađing -->
              <ng-container matColumnDef="loading">
                <td mat-footer-cell *matFooterCellDef colspan="6">... loading data</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'d_none': dataSource != null}"></tr>
            </table>
            <mat-paginator class="paginator_table" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>