// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tocotoco-admin-primary: mat-palette($mat-indigo);
$tocotoco-admin-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$tocotoco-admin-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$tocotoco-admin-theme: mat-light-theme($tocotoco-admin-primary, $tocotoco-admin-accent, $tocotoco-admin-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// /deep/      cách style cho thẻ mat-
@include angular-material-theme($tocotoco-admin-theme);
/* ------------ declaring color variables ------------ */

$navbar_cl: #d3dbe2;
$navbar_cl_hv: #fff;
$navbar_bg: #31373d;
$navbar_bg_hv:#fff;
$navbar_bg_active:#454e57;
$emty_body_cl:#798c9c;
$emty_buton_cl:#4d97c1;
$title_cl: #111;
// màu nút radio
$radio_bd_cl: #cedadd;
$radio_ck_bd_cl: #58b3f0;
$chips_bg: #cae9f7;
$chips_cl: #005e94;
$ckbox_bg: #005e94;
$ckbox_bg_ck: #005e94;
$ckbox_cl: #005e94;
$ckbox_bd: #005e94;
$ckbox_bd_ck: #58b3f0;
$inp_bd_cl: #c4cdd5;
/* ------------ declaring inheritance ------------ */



* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.mat-drawer-inner-container {
    &::-webkit-scrollbar {
        width: 10px !important;
    }
    &::-webkit-scrollbar-thumb {
        background: $navbar_bg_active;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.mat-menu-content {
    .button2 {
        background: #fff;
        display: block;
        border: none;
        padding: 10px 20px;
    }
}

.modal_header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    .title {
        font-size: 16px;
        white-space: normal;
        font-weight: 500;
        color: #1a1a1a;
        line-height: 18px;
    }
}

#cdk-overlay-1 {
    width: 600px !important;
}

.mat-dialog-content {
    padding: 30px 40px;
    border-bottom: 1px solid #e5e5e5;
    .input_txt {
        min-width: 75px;
        height: auto;
        margin: 0;
        border-style: inset;
        color: #000;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 5px 10px;
        border: 1px solid #c4cdd5;
        border-radius: 3px;
        line-height: 24px;
        width: 100%;
        text-transform: initial;
        letter-spacing: initial;
        box-sizing: border-box;
        display: block;
        transition: all .2s ease-out;
        transition-property: box-shadow, color;
        box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, 0.05);
        border-color: #c4cdd5;
        &:focus {
            box-shadow: 0 0 0 1px #0078bd;
            outline: none;
            position: relative;
            z-index: 1;
        }
        &::placeholder {
            text-decoration: underline;
            color: #ccc;
            text-align: right;
        }
    }
    .title1 {
        font-size: 14px;
        white-space: normal;
        color: #1a1a1a;
        line-height: 18px;
    }
}

@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
    }
}

.report_bottom_top_left {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                height: 45px;
            }
        }
    }
}

.report_bottom_right {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                height: 45px;
            }
        }
    }
}

.mat-option {
    &:hover {
        background: #0078bd !important;
        color: #fff;
    }
}

.mat-dialog-actions {
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-top: 15px;
}

.mat-dialog-actions {
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-top: 15px;
    button {
        margin-bottom: 20px;
        margin-right: 15px;
        padding: 7px 12px;
        border-radius: 3px;
        background: #fff;
        border: 1px solid #c4cdd5;
        &:hover {
            background: #f4f6f8
        }
    }
    .button1 {
        background: $emty_buton_cl;
        border: 1px solid $emty_buton_cl;
        color: #fff;
        &:hover {
            background: #0078bd;
        }
    }
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

input[type="search"],
button,
input[type="radio"],
input[type="checkbox"] {
    outline: none;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    color: #0078bd;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tooltip {
    position: relative;
    .tooltip_hv {
        position: absolute;
        top: 30px;
        right: 14px;
        display: none;
        transition: all linear .5s;
        opacity: .9;
        padding: 3px 4px;
        margin-top: 3px;
        white-space: nowrap;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        font-size: 12px;
        &::after {
            content: "";
            position: absolute;
            border-right: 6px solid transparent;
            border-bottom: 6px solid $navbar_cl;
            border-left: 6px solid transparent;
            bottom: 100%;
            right: 2px;
        }
    }
    &:hover {
        span.tooltip_hv {
            display: block;
        }
    }
}

%text-12 {
    font-size: 12px;
}

%text-14 {
    font-size: 14px;
}

%text-16 {
    font-size: 16px;
}

%text-18 {
    font-size: 18px;
}

%text-20 {
    font-size: 20px;
}

%text-24 {
    font-size: 24px;
}

%text-bold {
    font-weight: bold;
}

%text-justify {
    text-align: justify !important;
}

%text-uppercase {
    text-transform: uppercase !important;
}

%trans {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

%trans1 {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    color: inherit;
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

.bt {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 7px 12px;
    border-radius: 3px;
}

.bt_defau {
    border-color: #c4cdd5;
    color: #333;
    background: #fff;
    &:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#f9fafb), to(#f4f6f8));
        background: linear-gradient(to bottom, #f9fafb, #f4f6f8);
        border-color: #c4cdd5;
        -webkit-box-shadow: 0 1px 0 0 rgba(22, 29, 37, .05);
        box-shadow: 0 1px 0 0 rgba(22, 29, 37, .05);
        color: #212b35;
    }
}

.bt_primary {
    background: linear-gradient(to bottom, #4d97c1, #3995ca);
    border-color: #2d8ec5;
    -webkit-box-shadow: inset 0 1px 0 0 #0078bd;
    box-shadow: inset 0 1px 0 0 #519dca;
    color: #fff;
    transition: 0.3s;
    &:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#0078bd), to(#0377b9));
        background: linear-gradient(to bottom, #0078bd, #0377b9);
        border-color: #065f92;
        -webkit-box-shadow: inset 0 1px 0 0 #0078bd;
        box-shadow: inset 0 1px 0 0 #0078bd;
        color: #fff;
        outline: none;
    }
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    *zoom: 1;
}

.right {
    float: right;
}

.left {
    float: left;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 0;
    vertical-align: top;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"].ip_radio {
    position: relative;
    margin: 0 .5rem 0 0;
    cursor: pointer;
    &::before {
        -webkit-transition: -webkit-transform .4s cubic-bezier(.45, 1.8, .5, .75);
        -moz-transition: -moz-transform .4s cubic-bezier(.45, 1.8, .5, .75);
        transition: transform .4s cubic-bezier(.45, 1.8, .5, .75);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        content: "";
        position: absolute;
        left: calc(50% - 4px);
        top: calc(50% - 4px);
        z-index: 1;
        width: 8px;
        height: 8px;
        background: #58b3f0;
        border-radius: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        left: -1px;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #cedadd;
        border-radius: 50%;
    }
    &:checked {
        &::after {
            border: 1px solid #58b3f0;
        }
        &::before {
            -webkit-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }
}

input[type="checkbox"].ip_checkbox {
    position: relative;
    top: 0;
    margin: 0 .5rem 0 0;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        left: -1px;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #c4cdd5;
        cursor: pointer;
        border-radius: 3px;
    }
    &::before {
        -webkit-transition: -webkit-transform .4s cubic-bezier(.45, 1.8, .5, .75);
        -moz-transition: -moz-transform .4s cubic-bezier(.45, 1.8, .5, .75);
        transition: transform .4s cubic-bezier(.45, 1.8, .5, .75);
        -webkit-transform: rotate(-45deg) scale(0, 0);
        -moz-transform: rotate(-45deg) scale(0, 0);
        -ms-transform: rotate(-45deg) scale(0, 0);
        -o-transform: rotate(-45deg) scale(0, 0);
        transform: rotate(-45deg) scale(0, 0);
        content: "";
        position: absolute;
        left: 2px;
        right: 0;
        top: .2em;
        margin: auto;
        z-index: 1;
        width: 10px;
        height: 5px;
        border: 2px solid #58b3f0;
        border-top-style: none;
        border-right-style: none;
    }
    &:checked {
        &::before {
            -webkit-transform: rotate(-45deg) scale(1, 1);
            -moz-transform: rotate(-45deg) scale(1, 1);
            -ms-transform: rotate(-45deg) scale(1, 1);
            -o-transform: rotate(-45deg) scale(1, 1);
            transform: rotate(-45deg) scale(1, 1);
        }
        &::after {
            border-color: #58b3f0;
        }
    }
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#customer_new[_ngcontent-c3] .cusnew_body[_ngcontent-c3] .cusnew_informat[_ngcontent-c3] .cusnew_informat_right[_ngcontent-c3]>div[_ngcontent-c3] mat-datepicker-toggle.mat-datepicker-toggle[_ngcontent-c3] .mat-icon-button {
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
}

hr {
    margin: 20px 0;
    color: #e3e6e9;
    background-color: #e3e6e9;
    height: 1px;
    padding: 0;
    border: 0;
}

.mat-dialog-container {
    padding: 0 0 !important;
    overflow: hidden !important;
    box-sizing: inherit !important;
    .mat-dialog-content {
        .modal_tt {
            min-height: 16.42857143px;
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
        }
        .modal_ct {
            padding: 20px;
        }
    }
    .modal_bt {
        padding: 15px 18px 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
        button {
            margin-left: 20px;
        }
    }
}

.mat-form-field {
    padding: 0;
    .mat-form-field-wrapper {
        padding: 0;
        .mat-form-field-infix {
            margin: 0;
            border: 0;
            padding: 0;
        }
    }
}

// xóa css  của table
//end  xóa css  của table
.mat-paginator-container {
    justify-content: center !important;
}

.paginator_table {
    .mat-paginator-page-size {
        .mat-paginator-page-size-label {
            font-size: 14px;
            font-weight: bold;
            color: #1a1a1a;
        }
        mat-form-field.mat-paginator-page-size-select {
            margin: 0;
            border: solid 1px #ccc;
            padding: 8px 3px;
            font-size: 14px;
        }
    }
    .mat-paginator-range-actions {
        .mat-paginator-range-label {
            font-size: 14px;
            font-weight: bold;
            color: #1a1a1a;
        }
        button {
            position: relative;
            float: left;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #428bca;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 0;
        }
    }
}

.opacity_0 {
    .mat-sort-header-container {
        opacity: 0 !important;
    }
}

.mat_radio:not(:empty) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.mat_radio {
    .mat-radio-outer-circle {
        border-color: #cedadd;
    }
    .mat-ripple-element,
    .mat-radio-inner-circle {
        background-color: $radio_ck_bd_cl !important;
    }
    .mat-radio-inner-circle {
        background-color: $radio_ck_bd_cl !important;
    }
}

.mat_radio.mat-radio-checked {
    .mat-radio-outer-circle {
        border-color: $radio_ck_bd_cl !important;
    }
}

.text-center {
    text-align: center;
}

.table {
    >thead {
        >tr {
            >td {
                padding: 8px 5px;
                line-height: 1.42857143;
                border-top: 1px solid #ebeef0;
            }
        }
    }
    .title {
        min-width: 65px;
        text-align: center
    }
    >tbody {
        >tr {
            >td {
                padding: 8px 5px;
                line-height: 1.42857143;
                border-top: 1px solid #ebeef0;
            }
            .ip {
                text-align: center;
            }
        }
    }
}

// thêm css cho mat-checkbox
.mat_ckbox {
    .mat-checkbox-frame {
        border-color: #c4cdd5;
    }
}

.mat_ckbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: $ckbox_bg_ck;
}

.mat_ckbox.mat-checkbox-checked {
    .mat-checkbox-background {
        background-color: transparent;
    }
    .mat-checkbox-checkmark-path {
        stroke: $ckbox_bd_ck !important;
    }
    .mat-checkbox-frame {
        border-color: $ckbox_bd_ck;
        >tbody {
            >tr {
                >td {
                    vertical-align: middle;
                    border-top: 1px solid #ebeef0;
                    padding: 6px 12px;
                    line-height: 1.42857143;
                }
                .ip {
                    text-align: center
                }
                >tbody {
                    >tr {
                        >td {
                            vertical-align: middle;
                            border-top: 1px solid #ebeef0;
                            padding: 6px 12px;
                            line-height: 1.42857143;
                        }
                        .ip {
                            text-align: center
                        }
                    }
                }
            }
        }
    }
}

// thêm class header  và boby cho tất cả các component
.header {
    padding: 0 36px 0 20px !important;
    position: fixed;
    width: 100%;
    top: 0px;
}

.body {
    margin-top: 55px;
}

//
.report_bottom_left_right {
    select {
        -webkit-appearance: menulist !important;
    }
}

// thêm class cho input text
.form_control {
    min-width: 75px;
    height: auto;
    margin: 0;
    border-style: inset;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 10px;
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    line-height: 24px;
    text-transform: initial;
    letter-spacing: initial;
    box-sizing: border-box;
    display: block;
    width: 100%;
    transition: all .2s ease-out;
    transition-property: box-shadow, color;
    box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, 0.05);
    border-color: #c4cdd5;
    &:focus {
        border-color: #0078bd;
        box-shadow: 0 0 0 1px #0078bd;
        outline: none;
        position: relative;
        z-index: 1;
    }
}

// thêm class cho function toggle
.show_input {
    display: block !important;
}

.hide_input {
    display: none !important;
}

.cdk-overlay-pane {
    .title1 {
        font-size: 16px;
        white-space: normal;
        color: #1a1a1a;
        line-height: 18px;
    }
    .mat-dialog-content {
        padding: 20px;
        margin: 0;
        .input_txt {
            margin-top: 5px;
        }
    }
    .mat-dialog-actions {
        margin-top: 0;
        padding: 15px 5px 15px;
    }
}

// remove  icon  tăng giảm của input type="number"
.ip_nb_rm_icon {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}



// thêm input text
.input_txt {
    min-width: 75px;
    height: auto;
    margin: 0;
    border-style: inset;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 10px;
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    line-height: 24px;
    width: 100%;
    text-transform: initial;
    letter-spacing: initial;
    box-sizing: border-box;
    display: block;
    transition: all .2s ease-out;
    transition-property: box-shadow, color;
    box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, 0.05);
    border-color: #c4cdd5;
    &:focus {
        border-color: #0078bd;
        -webkit-box-shadow: 0 0 0 1px #0078bd;
        box-shadow: 0 0 0 1px #0078bd;
        outline: none;
        position: relative;
        z-index: 1;
    }
    &::placeholder {
        text-decoration: underline;
        color: #ccc;
        text-align: right;
    }
}



// thêm class width
.width_50 {
    width: 50px !important;
}

.width_100 {
    width: 100px !important;
}

.width_150 {
    width: 150px !important;
}

.width_200 {
    width: 200px !important;
}

.width_250 {
    width: 250px !important;
}

.width_300 {
    width: 300px !important;
}

.width__100{
    width: 100% !important;
}

.txt_r{
    text-align: right !important;
}

// thêm class magin
.mg_r5{
    margin-right: 5px !important;
}
.mg_r10{
    margin-right: 10px !important;
}
.mg_r15{
    margin-right: 15px !important;
}
.mg_r20{
    margin-right: 20px !important;
}
.mg_r25{
    margin-right: 25px !important;
}
.mg_r30{
    margin-right: 30px !important;
}
.mg_r35{
    margin-right: 35px !important;
}
.mg_r40{
    margin-right: 40px !important;
}

.mg_l5 {
margin-left: 5px !important;
}
.mg_l10 {
margin-left: 10px !important;
}
.mg_l15 {
margin-left: 15px !important;
}
.mg_l20 {
margin-left: 20px !important;
}
.mg_l25 {
margin-left: 25px !important;
}
.mg_l30 {
margin-left: 30px !important;
}
.mg_l35 {
margin-left: 35px !important;
}
.mg_l40 {
margin-left: 40px !important;
}

// thêm class padding

.pd_r15{
    padding-right: 15px !important;
}



// thêm class dispay none
.d_none{
    display: none !important;
}
